body{
  background-color: #643843;
}

body *{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Kelly Slab', cursive;
  color: #E7CBCB;
  font-style: italic;
}

#headbox{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#heading{
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  text-align: center;
  font-style: italic;
  color: #FFECEF;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  margin-top: none;
  margin-right: 25px;
}

#top-box{
  display: flex;
  width: 100%;
  height: 250px;
  background-image: url("hands.jpg");
  background-size: cover;
  border: 2px white solid;
  border-radius: 20px;
}

#date{
  margin: 20px 20px;
  font-size: 20px;
  opacity: 0.5;
}


.block-photo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}

#photo{
  width: 55vw;
}

.fade-in{
  animation: fadeIn 5s;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.block-photo > h3{
  margin-top: 85px;
}

